.homePageWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E5E5;
}

.formWrapper{
    background: #14213D;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.homePageLogo, .editorPageLogo{
    display: flex;
}

.homePageLogo h1, .editorPageLogo h1{
    margin: 0;
    margin-left: 10px;
}

.mainLabel {
    margin-bottom: 10px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
}

.inputBox{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #E5E5E5;
    font-size: 16px;
    font-weight: bold;
}


.btn {
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn{
    background: #FFB703;
    width: 100px;
    margin-left: auto;
}
.joinBtn:hover, .leaveBtn:hover{
    background: #ffb803e0;
}

.createInfo{
    /* margin: 0 auto; */
    margin-top: 20px;
}

.createNewBtn{
    color: #FFB703;
    text-decoration: none;
    border-bottom: 1px solid #FFB703;
    transition: all 0.3s ease-in-out;
}
.createNewBtn:hover{
    color: #ffb803e0;
    border-bottom: 1px solid #ffb803e0;
}

footer{
    position: fixed;
    bottom: 0;
}

footer a{
    color: #FFB703;
    text-decoration: none;
    border-bottom: 1px solid #FFB703;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: #ffb803e0;
    border-bottom: 1px solid #ffb803e0;
}

.mainWrap{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.aside{
    background: #0F192E;
    padding: 16px;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
}
.asideInner{
    flex: 1;
}

.clientList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.userName{
    margin-top: 10px;
}

.editorPageLogo{
    font-size: 80%;
    border-bottom: 3px solid #14213D;
    padding-bottom: 10px;
}

.leaveBtn{
    margin-top: 20px;
    background-color: #FFB703;
    width: 100%;
}

.copyBtn{
    margin-top: 20px;
}

.editorWrap{
    background: #E5E5E5;
}

.CodeMirror{
    /* height: calc(100vh - 20px); */
    font-size: 20px;
    line-height: 1.6;
    /* padding-top: 20px; */
    height: 100vh;
}